// Grid layouts
.has-1 {
	grid-template-columns: 1fr;
}
.has-2 {
	grid-template-columns: 1fr 1fr;
}
.has-3 {
	grid-template-columns: 1fr 1fr 1fr;
	@include mq(medium) {
		grid-column-gap: 4%;
	}
}
.has-4 {
	@include mq(medium) {
		grid-template-columns: 1fr 1fr;
		grid-template-rows: auto;
		grid-column-gap: 4%;
	}
	@include mq(large) {
		grid-template-columns: 1fr 1fr 1fr 1fr;
		grid-column-gap: 1%;
	}
}
.has-5 {
	@include mq(medium) {
		grid-template-columns: 1fr 1fr 1fr;
		grid-template-rows: auto;
		grid-column-gap: 4%;
	}
}
.has-6 {
	@include mq(medium) {
		grid-template-columns: 1fr 1fr 1fr;
		grid-template-rows: auto;
		grid-column-gap: 4%;
	}
}
.has-7 {
	@include mq(medium) {
		grid-template-columns: 1fr 1fr;
		grid-template-rows: auto;
		grid-column-gap: 4%;
	}
	@include mq(large) {
		grid-template-columns: 1fr 1fr 1fr;
		grid-column-gap: 4%;
	}
}

.nus-block-chiclet-grid {
	padding-top: 0;
	.wp-block--inner {
		align-content: stretch;
		grid-row-gap: 35px;
		@include mq(medium) {
      font-size: ms(2);
			padding-left: 0 !important;
			padding-right: 0 !important;
		}
	}
}

// Chiclet styles
.nus-block-chiclet {
	background-color: $medium-carmine;
	border-radius: 30px 0;
	margin-top: 35px;
	text-align: center;
  transition: all .3s ease-in-out;
	@include mq(medium) {
		margin-top: 0;
	}
	&:first-child {
		margin-top: 0;
	}
	&:hover {
		background-color: $red-robin;
	}
	&--inner {
		padding: 30px 20px;
    color: $white !important;
    text-decoration: none;
    display: block;
    position: relative;
    figure.nus-block-chiclet-icon {
      transition: all .3s ease-in-out;
      .svg-icon {
        transition: all .3s ease-in-out;
      }
    }
    &:hover {
      color: $white !important;
      text-decoration: none;
      figure.nus-block-chiclet-icon {
        transition: all .3s ease-in-out;
        margin: .25em 0;
        .svg-icon {
          transition: all .3s ease-in-out;
          height: 59px;
        }
      }
    }
	}
	h3 {
		font-size: 1rem;
		margin-bottom: 35px;
	}
  &--action {
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    width: 100%;
    left: 0;
    transform: translateY(25px);
    .svg-icon {
      margin-left: 5px;
      transform: translateY(2px);
    }
  }
}
