/**
 * Accordion container element
 */
.accordion {
	list-style: none;
	margin: 0;
	padding: 0 25px;
  > li {
  	margin: 0;
    /**
     * Add zero-width space. needed to ensure Safari + VO respect list semantics.
     * Set the before content to position absolute to negate any visible space
     * the before content could add to the document.
     */
     &:before {
     	content: "\200B";
     	position: absolute;
     }
  }
  @include mq(medium) {
    max-width: 1200px;
    margin: 0 auto;
  }
  @include mq(large) {
    padding: 0;
  }
}

/**
 * Accordion Heading
 */
.accordion__heading {
	border-top: 1px solid #A8A9AC;
	font-size: inherit;
	margin: -1px 0 0;
  button {
    background-color: transparent;
    text-transform: none;
    border-radius: 0 !important;
    padding: 20px 0;
    font-size: ms(2);
    &:hover {
      background-color: transparent;
      color: $red-robin;
    }
    @include mq(large) {
      padding: 32px 0;
    }
  }
}

.accordion__trigger {
	-webkit-appearance: none;
	background-color: #fff;
	border: none;
	border-radius: 0;
	box-shadow: none;
	color: $medium-carmine !important;
	cursor: pointer;
	display: flex;
  justify-content: space-between;
	font-size: inherit;
	margin: 0;
	padding: .5em 2em .5em 1em;
	position: relative;
	text-align: left;
	width: 100%;
	z-index: 2;
  &:after {
    content: "\f347";
    font-family: dashicons;
    order: 10;
    width: 20px;
    transition: transform .2s ease-in-out;
    transform-origin: center center;
    transform: rotate(0deg);
  }
}

.accordion__trigger:hover:after,
.accordion__trigger:focus:after,
.accordion__trigger[aria-expanded="true"]:after {
	border-top-color: #A8A9AC;
}

.accordion__trigger[aria-expanded="true"]:after {
	transform: rotate(180deg);
}

/**
 * This is needed to allow a double tap iOS 11
 * Safari + VO to function correctly, if there
 * are multiple elements (wrapper spans) to layout
 * text nodes within the accordion button.

	-- This is not needed if a button only contains text
	   and no other child nodes wrapping the text --

.accordion__trigger > * {
	pointer-events: none;
}
 */

.accordion__trigger:hover,
.accordion__trigger:focus {
	background-color: #0e3b5e;
	color: #fff;
	outline: none;
}

.accordion__trigger:focus {
	box-shadow: inset 0 0 0 2px $dark-pastel-blue;
}

.accordion__trigger[aria-disabled="true"]:hover {
	color: #fff;
	cursor: not-allowed;
}

.accordion__trigger[aria-disabled="true"]:focus {
	background-color: #0a2a42;
}

.accordion__panel {
	background-color: inherit;
	max-height: 0vh;
	overflow: hidden;
	position: relative;
	visibility: hidden;
	z-index: 1;
}

.accordion__panel--transition {
	transition:
		max-height .2s ease-in-out,
		padding-top .2s ease-in-out,
		padding-bottom .2s ease-in-out;
}

.accordion__panel > :last-child {
	margin-bottom: 0;
}

.accordion__panel[aria-hidden="false"] {
	max-height: 100vh;
	overflow: auto;
	visibility: visible;
  padding-bottom: 1em;
}

.accordion__trigger[aria-expanded="true"] {
	color: $red-robin;
}
