// Recent posts
.nus-block-recent-posts {
	header {
		h2 {
			@extend h1;
			color: $ship-gray;
			line-height: 1.3;
			@include mq(medium) {
				margin-top: 2.5vw;
				margin-bottom: .25vw !important;
			}
		}
		> a {
			font-weight: $weight__semibold;
			color: $denim;
			display: flex;
			align-items: baseline;
			.svg-icon {
				margin-left: 4px;
			}
		}
    @include mq(medium) {
      display: flex;
      justify-content: space-between;
      align-items: baseline;
    }
	}
	&--feed {
		.post {
			background-color: $white;
			margin-top: 35px;
			color: $black;
			text-decoration: none;
			display: block;
			padding: 10px 15px;
			border-top-right-radius: 25px;
			border-bottom: 5px solid $medium-carmine;
			box-shadow: 0 0 8px rgba($black, .5);
			&:hover {
				text-decoration: none;
			}
			&-date {
				font-weight: $weight__book;
				color: $gunsmoke;
				line-height: 2;
			}
			h3 {
				margin-bottom: 10px;
			}
      @include mq(large) {
        padding: 25px 30px;
      }
		}
	}
}
