.nus-block-social-follow-bar {
  position: relative;
  background-color: $denim;
  color: $white;
  margin: 0 0 !important;
  &:before {
    content: "";
    background-color: $denim;
    height: 50px;
    width: 50px;
    border-radius: 38px;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateY(-50%) translateX(-50%);
    border: 15px solid #F2F1F0;
  }
  header, .wp-block--inner {
    text-align: center;
    @extend %inner-bounds;
    padding-right: 5px;
    padding-left: 5px;
  }
  header {
    padding-top: 55px !important;
    h2 {
      font-size: 2.5em;
    }
    @include mq(medium) {
      // padding-top: 150px !important;
    }
  }
  .social-post {
    background: $white;
    border: 5px solid $bahama-blue;
    @include mq(medium) {
      padding: 10px;
    }
  }
  a {
    color: $white;
    display: block;
    text-decoration: none;
    margin-bottom: 25px;
    span {
      display: block;
      color: $white;
      font-size: ms(3);
    }
    &:hover {
      color: $white;
      text-decoration: none;
    }
  }
  &--profile {
    margin-top: 35px;
  }
  .wp-block--inner {
    padding-bottom: 35px;
    @include mq(medium) {
      display: grid;
      justify-content: space-between;
      grid-template-columns: 380px 380px 380px;
      padding: 0 0 35px !important;
    }
    .twitter-tweet {
      max-width: 100%;
    }
  }
}
