// Testimonials
.nus-block-testimonial {
	max-width: 100%;
	color: $white;
	margin: 0 !important;
	.slider-container {
		padding-bottom: 90px;
	}
	.nus-testimonial {
		padding: 35px 25px;
		display: flex;
		align-items: stretch;
		justify-content: center;
		&--image {
			background-color: $gunsmoke;
			display: flex;
			grid-area: testimonial-image;
			height: 250px;
			width: 250px;
			border: 5px solid;
			overflow: hidden;
			border-radius: 50%;
			margin: 0 auto;
			justify-self: center;
			> img {
				max-width: none;
				height: 100%;
				width: 100%;
				object-fit: cover;
				object-position: center center;
			}
		}
		background-color: $denim;
		.nus-testimonial--image {
			border-color: $dark-pastel-blue;
		}
		&.no-quote {
			background-color: $medium-carmine;
			.nus-testimonial--image {
				border-color: $orange-red;
			}
			.entry-content {
				grid-area: testimonial-content;
				padding: 0 0;
				align-self: center;
				p:first-child {
					font-weight: $weight__semibold;
				}
				@include mq(large) {
					font-size: ms(0);
				}
			}
		}
		@include mq(medium) {
			padding: 0;
			height: 275px;
			overflow: hidden;
			.testimonial--inner {
				width: 85vw;
				display: grid;
				justify-content: space-between;
				align-content: center;
			}
			.testimonial--inner {
				grid-template: "testimonial-image testimonial-content";
				grid-template-columns: auto 55%;
				figure {
					margin-right: 35px;
				}
			}
			&.no-quote .testimonial--inner {
				// reverse the layout
				grid-template: "testimonial-content testimonial-image";
				grid-template-columns: 55% auto;
				figure {
					margin-left: 35px;
				}
			}
			&--image {
				height: 350px;
				width: 350px;
			}
		}
    @include mq(large) {
      height: 400px;
      .testimonial--inner {
				width: auto;
        max-width: 1200px;
			}
      &--image {
        width: 525px;
        height: 525px;
      }
    }
	}
	blockquote {
		grid-area: testimonial-content;
		font-size: ms(2);
		text-align: center;
		margin-top: 10px;
		align-self: center;
		.svg-icon {
			display: none;
		}
		@include mq(medium) {
			text-align: left;
		}
    @include mq(large) {
			.svg-icon {
				display: block;
			}
      width: 600px;
    }
		p {
			font-weight: $weight__semibold;
		}
		footer {
			padding-top: 4vw;
			cite {
				display: block;
				color: $dark-pastel-blue;
				font-size: ms(-1);
				text-transform: uppercase;
				font-weight: $weight__bold;
			}
			span {
				font-size: ms(-1);
				color: $white;
				font-style: italic;
			}
			@include mq(medium) {
				padding-top: 2vw;
			}
      @include mq(large) {
        cite {
          line-height: 1;
        }
      }
		}
	}
}

.wp-block-atomic-blocks-ab-testimonial {
	background-color: transparent !important;
	position: relative;
	.entry-content & {
		margin: 35px 25px;
		@include mq(medium) {
			padding: 0;
			max-width: 900px;
			margin: 35px auto;
		}
	}
	.ab-testimonial-text p {
		font-weight: $weight__semibold;
		font-style: italic;
		font-size: ms(2) !important;
	}
	.ab-testimonial-info {
		position: static;
		margin-top: 0 !important;
	}
	.ab-testimonial-name {
		color: $pistachio !important;
		text-transform: uppercase;
		font-size: ms(0);
	}
	.ab-testimonial-title {
		font-size: ms(-1);
		font-style: italic;
	}
	&.ab-has-avatar {
		.ab-testimonial-name {
			margin-left: 0 !important;
		}
		.ab-testimonial-title {
			margin-left: 0 !important;
		}
		.ab-testimonial-avatar-wrap {
			position: absolute;
			top: 0;
			left: 50%;
			transform: translateX(-50%);
			.ab-testimonial-image-wrap {
				display: flex;
				background-color: $pistachio;
				width: 150px;
				height: 150px;
				border-radius: 300px;
				overflow: hidden;
				img {
					object-fit: cover;
					object-position: center;
					max-width: none;
					width: 100%;
					height: 100%;
				}
			}
		}
		.ab-testimonial-text {
			padding-top: 175px;
		}
		@include mq(medium) {
			margin: 55px auto;
			.ab-testimonial-avatar-wrap {
				left: 0;
				top: 0;
				transform: none;
			}
			.ab-testimonial-text,
			.ab-testimonial-info {
				padding-top: 0;
				padding-left: 195px;
			}
		}
		@include mq(large) {
			.ab-testimonial-text,
			.ab-testimonial-info {
				font-size: 1.2em;
			}
		}
	}
}
