$pistachio: #8dc806;
$seashell: #f2f1f1;
$bahama-blue: #254e81;
$gunsmoke: #777776;
$ship-gray: #4d4d4f;
$dark-pastel-blue: #7795cf;
$denim: #1c68ba;
$orange-red: #fb440c;
$medium-carmine: #b0412b;
$red-robin: #873220;
$light-grey: #F3F3F4;

$logo-med-grey: #717271;
$logo-lighter-grey: #9FA1A1;
