:root {
  font-size: 112.5%;
}
// Modular Scale Config
$modularscale: (
  base: 1em,
  ratio: $major-second,
);

// Overwrite Normalize.css
body {
    font-family: $font__default-stack;
    font-weight: $weight__book;
    line-height: 1.4;
    font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    color: $ship-gray;
}
h1,h2,h3,h4,h5,h6 {
    font-family: $font__default-heading-stack;
    font-weight: $weight__bold;
    line-height: 1.3;
}

body {
  font-size: ms(0); // 18px
}
h4 {
  font-size: ms(1); // 20px
}
h3 {
  font-size: ms(2); // 24px
  font-weight: $weight__semibold;
  margin-top: 1.171em;
  margin-top: 1.171em;
  @include mq(medium) {
    font-size: ms(3); // 24px
  }
  > a {
    color: inherit;
  }
}
h2 {
  font-size: ms(5); // 46px
  font-weight: $weight__book;
  margin-top: .925em;
  margin-bottom: .925em;
  @include mq(large) {
    font-size: ms(8);
  }
}
h1 {
  font-size: ms(8);
  font-weight: $weight__book;
  @include mq(medium){
    font-size: ms(12);
  }
}
p {
  font-size: ms(0);
  margin-bottom: 1.667em;

  &.has-medium-font-size {
    margin-bottom: 1.5em;
    font-size: ms(2);
  }
}

.hero-title, .page-title, .archive-title, .posts-page-title {
  @extend h1;
  max-width: 1200px;
}
.entry-content {
  > h3 {
    color: $medium-carmine;
    > a {
      color: $medium-carmine;
    }
  }
}
