
// Modular Scale Config
$modularscale: (
    base: .889em,
    ratio: $major-second,
    767px: (
      base: 1.125em,
    ),
);

// Overwrite Normalize.css
body {
    font-family: $font__default-stack;
    font-weight: $weight__book;
    font-size: ms(0);
    line-height: 1.667;
    font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
h1,h2,h3,h4,h5,h6 {
    font-family: $font__default-heading-stack;
    font-weight: $weight__bold;
    line-height: 1.3;
}

body {
  font-size: ms(0); // 18px
}
h4 {
  font-size: ms(0); // 18px
}
h3 {
  font-size: ms(1); // 20px
}
h2 {
  font-size: ms(3); // 24px
}
h1 {
  font-size: ms(8); // 46px
}
