
// Modular Scale Config
$modularscale: (
    base: .889rem,
    ratio: $major-second,
    767px: (
      base: 1.125rem,
      ratio: $major-second,
    ),
);

// Overwrite Normalize.css
body {
    font-family: $font__default-stack;
    font-weight: $weight__book;
    font-size: ms(0);
    line-height: 1.667;
    font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    color: $ship-gray;
}
h1,h2,h3,h4,h5,h6 {
    font-family: $font__default-heading-stack;
    font-weight: $weight__bold;
    line-height: 1.3;
}

body {
  font-size: ms(0); // 18px
}
h4 {
  font-size: ms(0); // 18px
}
h3 {
  font-size: ms(1); // 20px
}
h2 {
  font-size: ms(5); // 24px
  font-weight: $weight__book;
  @include mq(large) {
    font-size: ms(8);
  }
}
h1 {
  font-size: ms(5); // 46px
  font-weight: $weight__book;
}
%super {
  font-size: ms(8);
  @include mq(medium){
    font-size: ms(12);
  }
}
p {
  font-size: ms(0);
  margin-bottom: .75em;
  @include mq(medium) {
    font-size: ms(1);
  }
  @include mq(large) {
    font-size: ms(2);
  }

  &.has-medium-font-size {
    margin-bottom: 1.5em;
    @include mq(medium) {
      font-size: ms(3);
    }
  }
}

.hero-title, .page-title, .archive-title, .posts-page-title {
  @extend %super;
}
.entry-content {
  p {
    font-size: ms(1);
    @include mq(medium) {
      font-size: ms(3);
    }
  }
  h1 {
    font-size: ms(6);
    margin-bottom: .75em;
    @include mq(large) {
      font-size: ms(9);
    }
  }
  h2 {
    color: $medium-carmine;
    font-size: ms(2);
    font-weight: $weight__semibold;
    margin-bottom: .75em;
    @include mq(medium){
      font-size: ms(4);
    }
  }
  h3 {
    font-size: ms(2);
    font-weight: $weight__semibold;
    margin-bottom: .75em;
    @include mq(medium){
      font-size: ms(3);
      margin-top: 1.5em;
    }
  }
  li {
    margin-left: 2.5em !important;
    list-style-position: outside;
    font-size: 1.2rem;
  }
  ul {
    list-style: none; /* Remove default bullets */
  }

  ul li::before {
    content: "\2022";  /* Add content: \2022 is the CSS Code/unicode for a bullet */
    color: $denim; /* Change the color */
    font-weight: bold; /* If you want it to be bold */
    display: inline-block; /* Needed to add space between the bullet and the text */
    width: 1em; /* Also needed for space (tweak if needed) */
    margin-left: -1em; /* Also needed for space (tweak if needed) */
  }
  ol {
    list-style: none;
    counter-reset: li;
    li {
      counter-increment: li;
      &:before {
        content: counter(li);
        color: $denim;
        display: inline-block;
        width: 1em;
        margin-left: -1.5em;
        margin-right: 0.5em;
        text-align: right;
        direction: rtl
      }
    }
  }

}
