%inner-bounds {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding: 0 25px;
  @include mq(large) {
    padding: 0 auto;
  }
}

body {
  &:not(.home) {
    padding-top: 125px;
    @include mq(medium) {
      padding-top: 140px;
    }
  }
  &.menu-open {
    overflow: hidden;
    @include mq(medium) {
      overflow: auto;
    }
  }
}
.widget-area {
  padding: 45px 0 0;
  margin-bottom: 45px;
  @include mq(medium) {
    padding-top: 0;
    .widget {
      position: sticky;
      top: 185px;
    }
  }
}
.site-main {
  margin: 0 auto;
  padding: 15px 25px 45px;
  @include mq(medium) {
    padding: 15px 25px 45px;
  }
  @include mq(large) {
    padding: 15px 0 45px;
  }
  body.home & {
    padding: 0;
    @include mq(medium) {
      max-width: none;
    }
    .entry-content {
      width: 100%;
      > p:first-child {
        padding: 35px 25px 45px;
        max-width: 900px;
        justify-self: center;
        margin: auto;
      }
    }
  }
  body.blog &,
  body.single &,
  body.archive:not(.events-archive) & {
    margin: 0 auto;
    padding: 15px 25px 45px;
    @include mq(medium) {
      grid-template-columns: 70% 25%;
      grid-column-gap: 5%;
    }
    @include mq(large) {
      padding: 15px 0 45px;
    }
  }
}
.site-content {
  padding-bottom: 55px;
  @include mq(medium) {
    padding-bottom: 0;
  }
}
.post-type-archive-tribe_events {
  .site-main {
    @include mq(medium) {
      display: grid !important;
      grid-template-columns:100%;
      grid-column-gap: 5%;
    }
  }
}
.gform_wrapper {
  @extend %inner-bounds;
  max-width: 1200px !important;
  margin-left: auto !important;
  margin-right: auto !important;
  li.gfield:before {
    display: none;
  }
}
.page,
.single,
.archive {
  .site-main {
    .entry-content {
      > p,
      > h1,
      > h2,
      > h3,
      > h4,
      > ul,
      > ol,
      > blockquote,
      > .nus-block-recent-posts {
        width: 100%;
        max-width: 1200px !important;
        margin-left: auto;
        margin-right: auto;
      }
    }
  }
}
.entry-content {
  > p:first-child {
    margin-top: 55px;
    justify-self: center;
  }
  > p:last-child {
    margin-bottom: 55px;
  }
}
