body {
  &:not(.home) {
    padding-top: 105px;
    @include mq(medium) {
      padding-top: 140px;
    }
  }
  &.menu-open {
    overflow: hidden;
    @include mq(medium) {
      overflow: auto;
    }
  }
}
.inner-bounds {
  padding: 0 25px;
  max-width: 1200px;
  margin: 0 auto;
  @include mq(large) {
    padding: 0 0;
  }
  .blog #main &, .archive #main & {
    padding-bottom: 55px;
  }
}
.widget-area {
  padding: 45px 0 0;
}
