%inner-bounds {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding: 0 25px;
  @include mq(large) {
    padding: 0 auto;
  }
}

body {
  &:not(.home) {
    padding-top: 105px;
    @include mq(medium) {
      padding-top: 140px;
    }
  }
  &.menu-open {
    overflow: hidden;
    @include mq(medium) {
      overflow: auto;
    }
  }
}
.widget-area {
  padding: 45px 0 0;
  margin-bottom: 45px;
  @include mq(medium) {
    padding-top: 0;
    .widget {
      position: sticky;
      top: 185px;
    }
  }
}
.site-main {
  margin: 0 auto;
  padding: 15px 25px 45px;
  @include mq(medium) {
    max-width: 1200px;
    display: grid;
  }
  body:not(.home).has-sidebar &,
  body.blog &,
  body.single &,
  body.archive & {
    margin: 0 auto;
    padding: 15px 25px 45px;
    @include mq(medium) {
      grid-template-columns: 70% 25%;
      grid-column-gap: 5%;
    }
  }
}
.site-content {
  padding-bottom: 55px;
  @include mq(medium) {
    padding-bottom: 0;
  }
}
.post-type-archive-tribe_events {
  .site-main {
    @include mq(medium) {
      display: grid !important;
      grid-template-columns:100%;
      grid-column-gap: 5%;
    }
  }
}
.gform_wrapper {
  @extend %inner-bounds;
  max-width: 1200px !important;
  margin-left: auto !important;
  margin-right: auto !important;
  li.gfield:before {
    display: none;
  }
}
.page,
.single,
.archive {
  .site-main {
    > .entry-content {
      display: grid;
      justify-content: center;
      > p,
      > h1,
      > h2,
      > h3,
      > h4,
      > ul,
      > ol {
        padding-left: 25px;
        padding-right: 25px;
        max-width: 1200px;
      }
    }
  }
}
.entry-content {
  > p:first-child {
    margin-top: 55px;
    justify-self: center;
  }
  > p:last-child {
    margin-bottom: 55px;
  }
}
