%inner-bounds {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding: 0 25px;
  @include mq(large) {
    padding: 0 auto;
  }
}

body {
  &:not(.home) {
    padding-top: 105px;
    @include mq(medium) {
      padding-top: 140px;
    }
  }
  &.menu-open {
    overflow: hidden;
    @include mq(medium) {
      overflow: auto;
    }
  }
}
.widget-area {
  padding: 45px 0 0;
  margin-bottom: 45px;
  @include mq(medium) {
    padding-top: 0;
    .widget {
      position: sticky;
      top: 185px;
    }
  }
}
.site-main {
  body:not(.home) & {
    @include mq(medium) {
      display: grid;
      grid-template-columns: 70% 25%;
      grid-column-gap: 5%;
    }
  }
  body.no-sidebar & {
    @include mq(medium) {
      display: block;
    }
  }
}
.site-content {
  padding-bottom: 55px;
  @include mq(medium) {
    padding-bottom: 0;
  }
}
.blog,
.archive,
.single {
  .site-main {
    max-width: 1200px;
    margin: 0 auto;
    padding: 15px 25px 45px;
    @include mq(medium) {
      display: grid !important;
      grid-template-columns: 70% 25%;
      grid-column-gap: 5%;
    }
  }
}
.gform_wrapper {
  @extend %inner-bounds;
  max-width: 1200px !important;
  margin-left: auto !important;
  margin-right: auto !important;
  li.gfield:before {
    display: none;
  }
}
.page,
.single,
.archive {
  .entry-content {
    > p,
    > h1,
    > h2,
    > h3,
    > h4,
    > ul,
    > ol {
      padding-left: 25px;
      padding-right: 25px;
      max-width: 1200px;
      margin-left: auto;
      margin-right: auto;
    }
  }
}
