.single {
  h1 {
    @extend h2;
  }
  .entry-header {
    margin-bottom: 35px;
  }
  .entry-content {
    font-size: 18px;
  }
  &-post {
    .site-content {
      max-width: 1200px;
      margin: 0 auto;
    }
  }
}
