.site-branding {
  grid-area: branding;
  grid-column: 1 / end;
  grid-row: 2;
  align-content: center;
  margin: 20px 25px;
  .site-logo {
    align-self: center;
    display: flex;
    align-items: center;
    > a {
      display: flex;
      align-items: center;
    }
  }
  .custom-logo {
    color: $white;
    fill: $white;
    width: 160px;
    height: 46px;
    transition: fill .2s ease-in-out;
    @include mq(medium) {
      width: 181px;
      height: 50px;
    }
  }
  .scrolling &, body:not(.home) & {
    .custom-logo {
      color: $pistachio;
      fill: $pistachio;
      transition-delay: .1s;
      transition: fill .2s ease-in-out;
    }
  }
  body:not(.home) & {
    .site-logo {
      justify-content: center;
    }
  }
  @include mq(medium) {
    grid-column: 1 / 3;
    .site-logo {
      text-align: left !important;
    }
  }
}
