.page-cover-image {
  position: relative;
  height: 65vh;
  max-height: 500px;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  figure {
    margin: 0 0;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    display: flex;
    img {
      object-fit: cover;
      height: 100%;
      width: 100%;
      max-width: none;
    }
  }
  .home-tagline {
    font-family: $font--hero;
    color: $white;
    position: relative;
    z-index: 900;
    text-align: center;
    font-size: ms(10);
    line-height: .87;
    padding: 20px 25px;
    max-width: 480px;

  }
  @include mq(medium) {
    max-height: 705px;
    .home-tagline {
      max-width: 70vw;
      font-size: 4.875rem;
      padding-bottom: 5vw;
    }
  }
  @include mq(large) {
    .home-tagline {
      max-width: 950px;
      font-size: ms(15);
      padding-bottom: 5vw;
    }
  }
  .hero-title {
    line-height: 1.2;
    text-align: center;
    text-transform: uppercase;
    @include mq(medium) {
      margin-bottom: 5vw;
    }
  }
}
