.site-footer {
  background-color: $ship-gray;
  color: $white;
  padding: 20px 0 35px;
  a {
    color: $white;
    text-decoration: none;
    letter-spacing: -0.017rem;
    display: block;
  }
  .footer-menus {
    ul {
      margin: 0 0 35px 0;
      padding: 0;
      list-style: none;
      &.social-links-menu li {
        display: inline-block;
      }
    }
  }
  .site-info {
    color: $gunsmoke;
    font-size: ms(-1);
  }
  .footer-content {
    @extend %inner-bounds;
    padding-left: 25px;
    padding-right: 25px;
  }
  @include mq(small) {
    .footer-menus {
      display: flex;
      justify-content: space-between;
      ul {
        font-weight: $weight__semibold;
        font-size: ms(-2);
        margin-bottom: .5em;
        li {
          display: inline-block;
        }
        &.footer-links-menu li {
          margin-right: 5px;
        }
        &.social-links-menu {
          text-align: right;
          li {
            margin-left: 5px;
            .svg-icon {
              width: 18px;
              height: 18px;
            }
          }
        }
      }
    }
    .site-info {
      font-size: ms(-2);
    }
  }
}
