.visitor-tools {
  background-color: rgba($denim, .8);
  transition: background-color .2s ease-in-out;
  color: $white;
  grid-area: nav-utility;
  padding: 0 25px;
  @include mq(medium) {
    background-color: $denim;
    display: grid;
    grid-auto-flow: column;
  }
  a {
    color: $white;
    text-decoration: underline;
    &:hover {
      color: $white;
      text-decoration: none;
    }
  }
  h2, li {
    font-size: ms(-3);
    font-weight: $weight__book;
  }
  ul {
    margin: 0;
    padding: 0;
  }
  li {
    display: inline;
  }
  .contact {
    display: none;
    @include mq(medium) {
      display: flex;
      align-items: center;
      h2 {
        display: inline;
        margin-right: ms(1);
      }
      li {
        display: inline-block;
        margin-right: ms(0);
      }
      span {
        display: flex;
        align-items: center;
        &.contact--phone {
          a {
            text-decoration: none;
          }
        }
      }
      .svg-icon {
        margin-right: 5px;
        opacity: .7;
      }
    }
  }
  .ambassador-menu {
    text-align: right;
    ul {
      margin: 0;
    }
    li {
      display: inline-block;
      line-height: 0;
      padding: 0 3px;
      position: relative;
      a {
        display: block;
        padding: ms(2) ms(-1) ms(2) 0;
        @include mq(medium) {
          padding: ms(1) ms(-1) ms(2) 0;
        }
      }
      &:first-child:after {
        content: "";
        width: 1px;
        height: 33%;
        background-color: rgba($white, .4);
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
      }
    }
  }
  .scrolling & {
    background: rgba($denim, 1);
    transition: background-color .2s ease-in-out;
  }
}
