.visitor-tools {
  align-items: stretch;
  background-color: rgba($denim, .8);
  color: $white;
  display: flex;
  grid-area: nav-utility;
  grid-column: 1 / end;
  grid-row: 1;
  height: 40px;
  padding: 0 25px;
  transition: background-color .2s ease-in-out;
  @include mq(medium) {
    background-color: $denim;
    display: grid;
    grid-auto-flow: column;
  }
  a {
    color: $white;
    text-decoration: underline;
    &:hover {
      color: $white;
      text-decoration: none;
    }
  }
  h2, li {
    font-size: ms(-2);
    font-weight: $weight__book;
  }
  ul {
    margin: 0;
    padding: 0;
  }
  li {
    display: flex;
    align-content: center;
    a {
      align-content: stretch;
    }
  }
  .contact {
    display: none;
    @include mq(medium) {
      height: 40px;
      display: flex;
      align-items: center;
      h2 {
        display: inline;
        margin-right: ms(1);
      }
      li {
        display: inline-block;
        margin-right: ms(0);
      }
      span {
        display: flex;
        align-items: center;
        &.contact--phone {
          a {
            text-decoration: none;
          }
        }
      }
      .svg-icon {
        margin-right: 5px;
        opacity: .7;
      }
    }
  }
  .ambassador-menu {
    flex: 1;
    align-items: stretch;
    display: flex;
    height: 40px;
    ul {
      display: flex;
      flex: 1;
      justify-content: flex-end;
      align-items: stretch;
    }
    li {
      position: relative;
      a {
        align-items: center;
        display: flex;
        @include mq(medium) {
          padding: ms(1) ms(-1) ms(2) 0;
        }
      }
      &:first-child {
        &:after {
          content: "";
          width: 1px;
          height: 33%;
          background-color: rgba($white, .4);
          position: absolute;
          top: 50%;
          transform: translateY(-50%);
          right: 0;
        }
        a {
          padding-right: ms(-1);
        }
      }
      &:last-child {
        a {
          padding-left: ms(-1);
        }
      }
    }
  }
  .scrolling &, &:not(.home) {
    background: rgba($denim, 1);
    transition: background-color .2s ease-in-out;
  }
}
