.page-header {
  background-color: $denim;
  color: $white;
  padding: 25px 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  @include mq(medium) {
    padding: 50px 25px;
  }
  .hero-title, .archive-title, .page-title, .posts-page-title {
    position: relative;
    z-index: 10;
    width: 100%;
    max-width: 1200px;
    line-height: 1.2;
  }
  h1 {
    margin: 0 0;
  }
}
#tribe-events-footer {
  margin-top: 1.5em;
}
