.blog, .archive {
  .type-post {
    .post-thumbnail {
      margin-top: 0;
    }
    h3, h2 {
      color: $medium-carmine;
      > a {
        color: $medium-carmine;
      }
    }
    .entry-meta {
      margin: 5px 0 ms(-1);
      > span {
        margin-right: 10px;
        font-size: ms(-1);
      }
    }
    .entry-content {
      p {
        margin-top: 0;
      }
    }
  }
}
.entry-content {
  .post-more-link {
    font-weight: $weight__bold;
    padding: 0 3px;
  }
}
