.blog, .archive, .single {
  .type-post {
    margin-bottom: 55px;
    .post-thumbnail {
      margin-top: 0;
    }
    h2 {
      @extend h3;
      color: $medium-carmine;
      > a {
        color: $medium-carmine;
      }
      @include mq(medium) {
        font-size: ms(3);
      }
    }
    .entry-meta {
      margin: 5px 0 ms(-1);
      > span {
        margin-right: 10px;
        font-size: ms(-1);
        @include mq(medium) {
          font-size: ms(0);
        }
      }

    }
    .entry-content {
      p {
        margin-top: 0;
        font-size: 1.2em;
      }
    }
  }
}
.entry-content {
  .post-more-link {
    font-weight: $weight__bold;
    padding: 0 3px;
  }
}
