.site-header {
  display: grid;
  grid-template-columns: 10vw 10vw auto 10vw 10vw;
  grid-template-rows: 40px auto;
  align-items: center;
  position: fixed;
  top: 0;
  width: 100%;
  height: 105px;
  z-index: 1000;
  @include mq(medium) {
    align-items: center;
    grid-template-columns: 12vw 12vw auto 12vw 12vw;
    height: 140px;
  }
  .home & {
    background-color: rgba($white, 0);
    transition: all .2s ease-in-out;
  }
  .scrolling & {
    background-color: rgba($white, 1);
    transition: all .2s ease-in-out;
    box-shadow: 0 -3px 8px $black;
  }
}
body:not(.home) .site-header {
  background-color: rgba($white, 1);
  .scrolling & {
    transition: all .2s ease-in-out;
    box-shadow: 0 -3px 8px $black;
  }
}
