button,
input[type="button"],
input[type="reset"],
input[type="submit"],
a.wp-block-button__link,
.wp-block-button__link {
	border: 1px solid;
	border-radius: 50px !important;
	color: $white !important;
	font-size: ms(0);
	font-family: $font__default-stack;
	line-height: 1;
	padding: 1em 1em;
	margin-top: 15px;
	text-transform: uppercase;
	font-weight: $weight__bold;
	width: 100%;
	text-decoration: none !important;
	@include mq(medium) {
		width: 50%;
	}
	@include mq(large) {
		width: 200px;
	}
	&.has-primary-background-color,
	&.gform_button {
		background-color: $denim;
		&:hover {
			background-color: $bahama-blue;
		}
	}
	&.gform_button {
		padding: .8em 3em .8em;
		@include mq(large) {
			font-size: ms(1);
		}
	}
	&:hover {
		// border-color: $color__border-button-hover;
	}

	&:active,
	&:focus {
		// border-color: $color__border-button-focus;
	}
}
.button {
	&--blank {
		@include button-blank();
	}

}
