button,
input[type="button"],
input[type="reset"],
input[type="submit"],
a.wp-block-button__link,
.wp-block-button__link,
#infinite-handle span {
	border: 1px solid;
	border-radius: 50px !important;
	color: $white !important;
	font-family: $font__default-stack;
	font-size: ms(0);
	font-weight: $weight__bold;
	line-height: 1;
	padding: 1em 1em;
	margin-top: 15px;
	text-transform: uppercase;
	width: 100%;
	text-decoration: none !important;
	transition: all .3s ease-in-out;
	// Default colors
	background-color: $denim;
	&:hover {
		background-color: $bahama-blue;
	}
	@include mq(medium) {
		width: 50%;
	}
	@include mq(large) {
		width: 300px;
	}
	&.has-medium-carmine-background-color {
		background-color: $medium-carmine;
		&:hover {
			background-color: $red-robin;
		}
	}
	&.has-orange-red-background-color {
		background-color: $orange-red;
		&:hover {
			background-color: $red-robin;
		}
	}
	&.has-denim-background-color,
	&.gform_button {
		background-color: $denim;
		&:hover {
			background-color: $bahama-blue;
		}
	}
	&.gform_button {
		padding: .8em 3em .8em;
		@include mq(large) {
			font-size: ms(1);
		}
	}
	&:hover {
		// border-color: $color__border-button-hover;
	}

	&:active,
	&:focus {
		// border-color: $color__border-button-focus;
	}
}
.button {
	&--blank {
		@include button-blank();
	}

}
#infinite-handle span {
	font-size: inherit;
	width: auto;
	flex: 0 300px;
}
