input[type="text"],
input[type="email"],
input[type="url"],
input[type="password"],
input[type="search"],
input[type="number"],
input[type="tel"],
input[type="range"],
input[type="date"],
input[type="month"],
input[type="week"],
input[type="time"],
input[type="datetime"],
input[type="datetime-local"],
input[type="color"],
textarea {
	// color: $color__text-input;
	border: 1px solid #A8A9AC !important;
	padding: 10px !important;

	&:focus {
		// color: $color__text-input-focus;
	}
}

select {
	border: 1px solid ;
}

textarea {
	width: 100%;
}
.gform_wrapper input:not([type=radio]):not([type=checkbox]):not([type=submit]):not([type=button]):not([type=image]):not([type=file]) {
	padding: 10px !important;
}
.gfield_label {
	@extend .screen-reader-text;
}
.gform_wrapper ul.gform_fields {
	@include mq(medium) {
		display: grid !important;
		grid-template-columns: 1fr 1fr;
		grid-auto-flow: row;
		li:last-child {
			grid-column: 1 / 3;
		}
	}
}
